.c-container{
    justify-content: space-around;
    gap: 1rem;
    background-color: rgb(23,23,23);
}
.c-container>img{
    width: 9rem;
}
.yellow {
    color: yellow;
}

.c-write-up {
    color: white;
    font-weight: medium;
    text-align: justify;
}